<div class="containerinicio" id="navigation">
    <div class="row" id="incioBanner">    
     <div class="col-sm-9" id="logo">
            <a class="navbar-brand" href="#">
                <img src="./assets/img/logo.png" alt="Mundial qatar" class="logo">
            </a>
        </div>
        <div class="col-sm-3" id="a">
            <ul>
                <li></li>
                <li><a routerLink="/login">INGRESAR</a></li>
                <li><a routerLink="/registro">CREAR USUARIO</a></li>
            </ul>
        </div>
    </div>
<div class="row" id="inicioBod">    
    <div class="col-sm-9" id="pres">
        <span >R</span>
        <span >E</span>
        <span >T</span>
        <span id="o">O</span>
        <span style="color:white">...</span>

        <span >M</span>
        <span >U</span>
        <span >N</span>
        <span >D</span>
        <span >I</span>
        <span >A</span>
        <span >L</span>   
    </div>
    <div class="col-sm-3" id="mascot">
        <img src="./assets/img/mascot.png" alt="mascota">
    </div>
</div>

</div>

