*{
    font-family: Arial, Helvetica, sans-serif;
}
.btns{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.login{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin-top: 20px;
}

.btn{
   background-color: #a52525;
   border-color: #a52525;
}


a{
   color: #a52525;
   /* font-weight: bolder; */
}