.navbar{
    max-height: 150px;
    background: #a52525;
    background: -webkit-linear-gradient(to right, #780808, #a52525);
    background: linear-gradient(to right, #780808, #a52525);
        
}

.nav-link{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.logo{
    max-width: 130px;
}