<div>
    <h1>Bienvenida</h1>
</div>

<div class="row">
    <div class="col-sm-6">
        <h2>GRUPO A</h2>
        <div class="d-flex" id="grupoA">
            <div class="">
              <ul>
                <li><img src="./assets/iconos-banderas/qatar.png" /> CATAR <input type="number"></li> 
                <li><img src="./assets/iconos-banderas/senegal.png" alt="">SENEGAL <input type="number"></li>
                <li><img src="./assets/iconos-banderas/qatar.png" alt="">CATAR<input type="number"></li>
                <li><img src="./assets/iconos-banderas/holanda.png" alt="">PAISES BAJOS<input type="number"></li>
                <li><img src="./assets/iconos-banderas/ecuador.png" alt="">ECUADOR<input type="number"></li>
                <li><img src="./assets/iconos-banderas/holanda.png" alt="">PAISES BAJOS<input type="number"></li>
              </ul>
            </div>
             <div class="">
              <ul>
                <li><input type="number">ECUADOR<img src="./assets/iconos-banderas/ecuador.png" alt=""></li>
                <li><input type="number">PAISES BAJOS<img src="./assets/iconos-banderas/holanda.png" alt=""></li>
                <li><input type="number">SENEGAL<img src="./assets/iconos-banderas/senegal.png" alt=""></li>
                <li><input type="number">ECUADOR<img src="./assets/iconos-banderas/ecuador.png" alt=""></li>
                <li><input type="number">SENEGAL<img src="./assets/iconos-banderas/senegal.png" alt=""></li>
                <li><input type="number">CATAR<img src="./assets/iconos-banderas/qatar.png" alt=""></li>
              </ul>
            </div>          
        </div>
    </div>

    <div class="col-sm-6">
        <h2>GRUPO B</h2>
        <div class="d-flex" id="grupoB">
            <div class="">
              <ul>
                <li><img src="./assets/iconos-banderas/england.png" alt="">INGLATERRA</li>
                <li><img src="./assets/iconos-banderas/usa.png" alt="">ESTADOS UNIDOS</li>
                <li><img src="./assets/iconos-banderas/wales.png" alt="">GALES</li>
                <li><img src="./assets/iconos-banderas/england.png" alt="">INGLATERRA</li>
                <li><img src="./assets/iconos-banderas/wales.png" alt="">GALES</li>
                <li><img src="./assets/iconos-banderas/iran.png" alt="">IRÁN</li>
              </ul>
            </div>
             <div class="">
              <ul>
                <li>IRÁN<img src="./assets/iconos-banderas/iran.png" alt=""></li>
                <li>GALES<img src="./assets/iconos-banderas/wales.png" alt=""></li>
                <li>IRÁN<img src="./assets/iconos-banderas/iran.png" alt=""></li>
                <li>ESTADOS UNIDOS<img src="./assets/iconos-banderas/usa.png" alt=""></li>
                <li>INGLATERRA<img src="./assets/iconos-banderas/england.png" alt=""></li>
                <li>ESTADOS UNIDOS<img src="./assets/iconos-banderas/usa.png" alt=""></li>
              </ul>
            </div>            
        </div>   
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h2>GRUPO C</h2>
        <div class="d-flex" id="grupoC">
            <div class="">
              <ul>
                <li><img src="./assets/iconos-banderas/mexico.png" alt="">MÉXICO</li>
                <li><img src="./assets/iconos-banderas/argentina.png" alt="">ARGENTINA</li>
                <li><img src="./assets/iconos-banderas/polonia.png" alt="">POLONIA</li>
                <li><img src="./assets/iconos-banderas/argentina.png" alt="">ARGENTINA</li>
                <li><img src="./assets/iconos-banderas/polonia.png" alt="">POLONIA</li>
                <li><img src="./assets/iconos-banderas/arabia.png" alt="">ARABIA SAUDITA</li>
              </ul>
            </div>
             <div class="">
              <ul>
                <li>POLONIA<img src="./assets/iconos-banderas/polonia.png" alt=""></li>
                <li>ARABIA SAUDITA<img src="./assets/iconos-banderas/arabia.png" alt=""></li>
                <li>ARABIA SAUDITA<img src="./assets/iconos-banderas/arabia.png" alt=""></li>
                <li>MÉXICO<img src="./assets/iconos-banderas/mexico.png" alt=""></li>
                <li>ARGENTINA<img src="./assets/iconos-banderas/argentina.png" alt=""></li>
                <li>MÉXICO<img src="./assets/iconos-banderas/mexico.png" alt=""></li>
              </ul>
            </div>            
        </div>
    </div>

    <div class="col-sm-6">
        <h2>GRUPO D</h2>
        <div class="d-flex" id="grupoD">
            <div class="">
              <ul>
                <li><img src="./assets/iconos-banderas/francia.png" alt="">FRANCIA</li>
                <li><img src="./assets/iconos-banderas/denmark.png" alt="">DINAMARCA</li>
                <li><img src="./assets/iconos-banderas/tunez.png" alt="">TÚNEZ</li>
                <li><img src="./assets/iconos-banderas/francia.png" alt="">FRANCIA</li>
                <li><img src="./assets/iconos-banderas/australia.png" alt="">AUSTRALIA</li>
                <li><img src="./assets/iconos-banderas/tunez.png" alt="">TÚNEZ</li>
              </ul>
            </div>
             <div class="">
              <ul>
                <li>AUSTRALIA<img src="./assets/iconos-banderas/australia.png" alt=""></li>
                <li>TÚNEZ<img src="./assets/iconos-banderas/tunez.png" alt=""></li>
                <li>AUSTRALIA<img src="./assets/iconos-banderas/australia.png" alt=""></li>
                <li>DINAMARCA<img src="./assets/iconos-banderas/denmark.png" alt=""></li>
                <li>DINAMARCA<img src="./assets/iconos-banderas/denmark.png" alt=""></li>
                <li>FRANCIA<img src="./assets/iconos-banderas/francia.png" alt=""></li>
              </ul>
            </div>          
        </div>   
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h2>GRUPO E</h2>
        <div class="d-flex" id="grupoE">
            <div class="">
              <ul>
                <li><img src="./assets/iconos-banderas/spain.png" alt="">ESPAÑA</li>
                <li><img src="./assets/iconos-banderas/germany.png" alt="">ALEMANIA</li>
                <li><img src="./assets/iconos-banderas/japon.png" alt="">JAPÓN</li>
                <li><img src="./assets/iconos-banderas/spain.png" alt="">ESPAÑA</li>
                <li><img src="./assets/iconos-banderas/japon.png" alt="">JAPÓN</li>
                <li><img src="./assets/iconos-banderas/costa rica.png" alt="">COSTA RICA</li>
              </ul>
            </div>
            <div class="">
              <ul>
                <li>COSTA RICA<img src="./assets/iconos-banderas/costa rica.png" alt=""></li>
                <li>JAPÓN<img src="./assets/iconos-banderas/japon.png" alt=""></li>
                <li>COSTA RICA<img src="./assets/iconos-banderas/costa rica.png" alt=""></li>
                <li>ALEMANIA<img src="./assets/iconos-banderas/germany.png" alt=""></li>
                <li>ESPAÑA<img src="./assets/iconos-banderas/spain.png" alt=""></li>
                <li>ALEMANIA<img src="./assets/iconos-banderas/germany.png" alt=""></li>
              </ul>
            </div>            
        </div>
    </div>

    <div class="col-sm-6">
        <h2>GRUPO F</h2>
        <div class="d-flex" id="grupoF">
            <div class="">
              <ul>
                <li><img src="./assets/iconos-banderas/belgium.png" alt="">BÉLGICA</li> 
                <li><img src="./assets/iconos-banderas/marruecos.png" alt="">MARRUECOS</li>
                <li><img src="./assets/iconos-banderas/belgium.png" alt="">BÉLGICA</li>
                <li><img src="./assets/iconos-banderas/croacia.png" alt="">CROACIA</li>
                <li><img src="./assets/iconos-banderas/croacia.png" alt="">CROACIA</li>
               <li><img src="./assets/iconos-banderas/canda.png" alt="">CANADÁ</li>
              </ul>
            </div>
            <div class="">
              <ul>
                <li>CANADÁ<img src="./assets/iconos-banderas/canda.png" alt=""></li>
                <li>CROACIA<img src="./assets/iconos-banderas/croacia.png" alt=""></li>
                <li>MARRUECOS<img src="./assets/iconos-banderas/marruecos.png" alt=""></li>
                <li>CANADÁ<img src="./assets/iconos-banderas/canda.png" alt=""></li>
                <li>BÉLGICA<img src="./assets/iconos-banderas/belgium.png" alt=""></li>
                <li>MARRUECOS<img src="./assets/iconos-banderas/marruecos.png" alt=""></li>
              </ul>
            </div>            
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <h2>GRUPO G</h2>
        <div class="d-flex" id="grupoG">
          <div class="">
           <ul>
               <li><img src="./assets/iconos-banderas/suiza.png" alt="">SUIZA</li>
               <li><img src="./assets/iconos-banderas/brazil.png" alt="">BRAZIL</li>
               <li><img src="./assets/iconos-banderas/camerun.png" alt="">CAMERUN</li>
               <li><img src="./assets/iconos-banderas/brazil.png" alt="">BRAZIL</li>
               <li><img src="./assets/iconos-banderas/serbia.png" alt="">SERBIA</li>
               <li><img src="./assets/iconos-banderas/camerun.png" alt="">CAMERUN</li>
           </ul>
          </div>
          <div class="">
           <ul>
               <li>CAMERUN<img src="./assets/iconos-banderas/camerun.png" alt=""></li>
               <li>SERBIA<img src="./assets/iconos-banderas/serbia.png" alt=""></li>
               <li>SERBIA<img src="./assets/iconos-banderas/serbia.png" alt=""></li>
               <li>SUIZA<img src="./assets/iconos-banderas/suiza.png" alt=""></li>
               <li>SUIZA<img src="./assets/iconos-banderas/suiza.png" alt=""></li>
               <li>BRAZIL<img src="./assets/iconos-banderas/brazil.png" alt=""></li>
            </ul>
           </div>
        </div>
    </div>

    <div class="col-sm-6">
        <h2>GRUPO H</h2>
        <div class="d-flex" id="grupoH">
          <div class="">
           <ul>
            <li><img src="./assets/iconos-banderas/uruguay.png" alt="">URUGUAY</li>
            <li><img src="./assets/iconos-banderas/portugal.png" alt="">PORTUGAL</li>
            <li><img src="./assets/iconos-banderas/korea.png" alt="">COREA DEL SUR</li>
            <li><img src="./assets/iconos-banderas/portugal.png" alt="">PORTUGAL</li>
            <li><img src="./assets/iconos-banderas/ghana.png" alt="">GHANA</li>
            <li><img src="./assets/iconos-banderas/korea.png" alt="">COREA DEL SUR</li>
           </ul>
          </div>
         <div class="">
          <ul>
            <li>COREA DEL SUR<img src="./assets/iconos-banderas/korea.png" alt=""></li>
            <li>GHANA<img src="./assets/iconos-banderas/ghana.png" alt=""></li>
            <li>GHANA<img src="./assets/iconos-banderas/ghana.png" alt=""></li>
            <li>URUGUAY<img src="./assets/iconos-banderas/uruguay.png" alt=""></li>
            <li>URUGUAY<img src="./assets/iconos-banderas/uruguay.png" alt=""></li>
            <li>PORTUGAL<img src="./assets/iconos-banderas/portugal.png" alt=""></li>
        </ul>
    </div>        
  </div>
</div>

