<div>
    <h1>Bienvenida</h1>
</div>

<div class="row">
    <div class="col-sm-6">
        <h2>GRUPO A</h2>
        <div class="d-flex" id="grupoA">
            <div class="">
              <ul>
                <li><img src="/reto-mundial/src/assets/iconos-banderas/qatar.png" alt=""> CATAR</li> 
                <li><img src="/reto-mundial/src/assets/iconos-banderas/senegal.png" alt="">SENEGAL</li>
                <li><img src="/reto-mundial/src/assets/iconos-banderas/qatar.png" alt="">CATAR</li>
                <li><img src="/reto-mundial/src/assets/iconos-banderas/holanda.png" alt="">PAISES BAJOS</li>
                <li><img src="/reto-mundial/src/assets/iconos-banderas/ecuador.png" alt="">ECUADOR</li>
                <li><img src="/reto-mundial/src/assets/iconos-banderas/holanda.png" alt="">PAISES BAJOS</li>
              </ul>
            </div>
             <div class="">
              <ul>
                <li>ECUADOR<img src="/reto-mundial/src/assets/iconos-banderas/ecuador.png" alt=""></li>
                <li>PAISES BAJOS<img src="/reto-mundial/src/assets/iconos-banderas/holanda.png" alt=""></li>
                <li>SENEGAL<img src="/reto-mundial/src/assets/iconos-banderas/senegal.png" alt=""></li>
                <li>ECUADOR<img src="/reto-mundial/src/assets/iconos-banderas/ecuador.png" alt=""></li>
                <li>SENEGAL<img src="/reto-mundial/src/assets/iconos-banderas/senegal.png" alt=""></li>
                <li>CATAR<img src="/reto-mundial/src/assets/iconos-banderas/qatar.png" alt=""></li>
              </ul>
            </div>
            
        </div>

    </div>
    <div class="col-sm-6">
        <h2>GRUPO B</h2>
        <div class="d-flex" id="grupoB">
            <div class="">
              <ul>
                <li>INGLATERRA</li>
                <li>ESTADOS UNIDOS</li>
                <li>GALES</li>
                <li>INGLATERRA</li>
                <li>GALES</li>
                <li>IRÁN</li>
              </ul>
            </div>
             <div class="">
              <ul>
                <li>IRÁN</li>
                <li>GALES</li>
                <li>IRÁN</li>
                <li>ESTADOS UNIDOS</li>
                <li>INGLATERRA</li>
                <li>ESTADOS UNIDOS</li>
              </ul>
            </div>
            
        </div>
        

    </div>


</div>
<div class="row">
    <div class="col-sm-6">
        <h2>GRUPO C</h2>
        <div class="d-flex" id="grupoC">
            <div class="">
              <ul>
                <li>MÉXICO</li>
                <li>ARGENTINA</li>
                <li>POLONIA</li>
                <li>ARGENTINA</li>
                <li>POLONIA</li>
                <li>ARABIA SAUDITA</li>
              </ul>
            </div>
             <div class="">
              <ul>
                <li>POLONIA</li>
                <li>ARABIA SAUDITA</li>
                <li>ARABIA SAUDITA</li>
                <li>MÉXICO</li>
                <li>ARGENTINA</li>
                <li>MÉXICO</li>
              </ul>
            </div>
            
        </div>

    </div>
    <div class="col-sm-6">
        <h2>GRUPO D</h2>
        <div class="d-flex" id="grupoD">
            <div class="">
              <ul>
                <li>FRANCIA</li>
                <li>DINAMARCA</li>
                <li>TÚNEZ</li>
                <li>FRANCIA</li>
                <li>AUSTRALIA</li>
                <li>TÚNEZ</li>
              </ul>
            </div>
             <div class="">
              <ul>
                <li>AUSTRALIA</li>
                <li>TÚNEZ</li>
                <li>AUSTRALIA</li>
                <li>DINAMARCA</li>
                <li>DINAMARCA</li>
                <li>FRANCIA</li>
              </ul>
            </div>
            
        </div>
        

    </div>


</div>

<div class="row">
    <div class="col-sm-6">
        <h2>GRUPO E</h2>
        <div class="d-flex" id="grupoE">
            <div class="">
              <ul>
                <li>ESPAÑA</li>
                <li>ALEMANIA</li>
                <li>JAPÓN</li>
                <li>ESPAÑA</li>
                <li>JAPÓN</li>
                <li>COSTA RICA</li>
              </ul>
            </div>
            <div class="">
              <ul>
                <li>COSTA RICA</li>
                <li>JAPÓN</li>
                <li>COSTA RICA</li>
                <li>ALEMANIA</li>
                <li>ESPAÑA</li>
                <li>ALEMANIA</li>
              </ul>
            </div>            
        </div>
    </div>
    <div class="col-sm-6">
        <h2>GRUPO F</h2>
        <div class="d-flex" id="grupoF">
            <div class="">
              <ul>
                <li>BÉLGICA</li>
                <li>MARRUECOS</li>
                <li>BÉLGICA</li>
                <li>CROACIA</li>
                <li>CROACIA</li>
                <li>CANADÁ</li>
              </ul>
            </div>
            <div class="">
              <ul>
                <li>CANADÁ</li>
                <li>CROACIA</li>
                <li>MARRUECOS</li>
                <li>CANADÁ</li>
                <li>BÉLGICA</li>
                <li>MARRUECOS</li>
              </ul>
            </div>            
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <h2>GRUPO G</h2>
        <div class="d-flex" id="grupoG">
          <div class="">
           <ul>
               <li>SUIZA</li>
               <li>BRAZIL</li>
               <li>CAMERUN</li>
               <li>BRAZIL</li>
               <li>SERBIA</li>
               <li>CAMERUN</li>
           </ul>
          </div>
          <div class="">
           <ul>
               <li>CAMERUN</li>
               <li>SERBIA</li>
               <li>SERBIA</li>
               <li>SUIZA</li>
               <li>SUIZA</li>
               <li>BRAZIL</li>
            </ul>
           </div>
        </div>
    </div>
    <div class="col-sm-6">
        <h2>GRUPO H</h2>
        <div class="d-flex" id="grupoH">
          <div class="">
           <ul>
            <li>URUGUAY</li>
            <li>PORTUGAL</li>
            <li>COREA DEL SUR</li>
            <li>PORTUGAL</li>
            <li>GHANA</li>
            <li>COREA DEL SUR</li>
           </ul>
          </div>
         <div class="">
          <ul>
            <li>COREA DEL SUR</li>
            <li>GHANA</li>
            <li>GHANA</li>
            <li>URUGUAY</li>
            <li>URUGUAY</li>
            <li>PORTUGAL</li>
        </ul>
    </div>        
  </div>
</div>



