<app-header></app-header>
<div class="container">
  <div class="form-contenedor">
      <h2 class="text-center">Login</h2>
      <div class="row" >
          <form [formGroup]="formulariologin">
              <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="email" class="form-control" placeholder="Email" formControlName="email" />
              </div>
              <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" class="form-control" placeholder="Password" formControlName="password" />
              </div>
          </form>
      </div>   
   <div class="btns">
    <button class="btn btn-info" type="submit" (click)="onSubmit()" [disabled]="formulariologin.invalid" >Login</button>
    <button class="btn btn-info" (click)="loginWithGoogle()">Login con google</button>
   </div>
  </div> 

 
</div>
