<app-header></app-header>
<h2>{{title}}</h2>
<div class="row">
    <div class="col-12 col-md-12 ">
        <div class="octavos-container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="th-header">#</th>
                        <th scope="col" class="th-header">Fechas</th>
                        <th scope="col" class="th-header">Horas</th>
                        <th scope="col" class="th-header">Partido por el tecer puesto</th>
                        <th scope="col" class="th-header">Estadios</th>
                        <th scope="col" class="th-header">Tercer puesto</th>
                        <th scope="col" class="th-header">Cuarto puesto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">63</th>
                        <td>17-dic</td>
                        <td>18:00</td>
                        <td class="partidos">
                            <div class="inputs">
                                <input type="text"> -
                                <input type="text">
                            </div>
                        </td>
                        <td>Khalifa</td>
                        <td>
                            <input type="text" class="winner">
                        </td>
                        <td>
                            <input type="text" class="winner">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-12 ">
        <div class="octavos-container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="th-header">#</th>
                        <th scope="col" class="th-header">Fechas</th>
                        <th scope="col" class="th-header">Horas</th>
                        <th scope="col" class="th-header">Partido por el tecer puesto</th>
                        <th scope="col" class="th-header">Estadios</th>
                        <th scope="col" class="th-header">Segundo puesto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">64</th>
                        <td>18-dic</td>
                        <td>18:00</td>
                        <td class="partidos">
                            <div class="inputs">
                                <input type="text"> -
                                <input type="text">
                            </div>
                        </td>
                        <td>Lusail</td>
                        <td>
                            <input type="text" class="winner">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>