<app-header></app-header>
<h2>{{title}} de final</h2>
<div class="row">
    <div class="col-12 col-md-12 ">
        <div class="octavos-container">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="th-header">#</th>
                    <th scope="col" class="th-header">Fechas</th>
                    <th scope="col" class="th-header">Horas</th>
                    <th scope="col" class="th-header">Partidos</th>
                    <th scope="col" class="th-header">Estadios</th>
                    <th scope="col" class="th-header">Ganadores</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">49</th>
                    <td>3-dic</td>
                    <td>18:00</td>
                    <td class="partidos">
                       <div class="inputs">
                        <input type="text"> -
                         <input type="text">
                       </div>
                    </td>
                    <td>Khalifa</td>
                    <td>
                        <input type="text" class="winner">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">50</th>
                    <td>3-dic</td>
                    <td>22:00</td>
                    <td class="partidos">
                        <div class="inputs">
                            <input type="text"> -
                             <input type="text">
                        </div>
                        
                    </td>
                    <td>Ahmad Bin Ali</td>
                    <td>
                        <input type="text" class="winner">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">51</th>
                    <td>4-dic</td>
                    <td>22:00</td>
                    <td class="partidos">
                        <div class="inputs">
                            <input type="text"> -
                             <input type="text">
                        </div>
                    </td>
                    <td>Al Bayt</td>
                    <td>
                        <input type="text" class="winner">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">52</th>
                    <td>4-dic</td>
                    <td>18:00</td>
                    <td class="partidos">
                        <div class="inputs">
                            <input type="text"> -
                             <input type="text">
                        </div>
                    </td>
                    <td>Al Thumama</td>
                    <td>
                        <input type="text" class="winner">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">53</th>
                    <td>5-dic</td>
                    <td>18:00</td>
                    <td class="partidos">
                        <div class="inputs">
                            <input type="text"> -
                             <input type="text">
                        </div>
                    </td>
                    <td>Al Jhanout</td>
                    <td>
                        <input type="text" class="winner">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">54</th>
                    <td>5-dic</td>
                    <td>22:00</td>
                    <td class="partidos">
                        <div class="inputs">
                            <input type="text"> -
                             <input type="text">
                        </div>
                    </td>
                    <td>Stadium 947</td>
                    <td>
                        <input type="text" class="winner">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">55</th>
                    <td>6-dic</td>
                    <td>18:00</td>
                    <td class="partidos">
                        <div class="inputs">
                            <input type="text"> -
                             <input type="text">
                        </div>
                    </td>
                    <td>Education City</td>
                    <td>
                        <input type="text" class="winner">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">56</th>
                    <td>6-dic</td>
                    <td>22:00</td>
                    <td class="partidos">
                        <div class="inputs">
                            <input type="text"> -
                             <input type="text">
                        </div>
                    </td>
                    <td>Lusail</td>
                    <td>
                        <input type="text" class="winner">
                    </td>
                  </tr>
                </tbody>
              </table>

        </div>
        <div class="btn-next">
            <button class="btn btn-success" routerLink="/cuartos">Ir a cuartos de final</button>
        </div>
    </div>
</div>
