

/* Estilos InicioComponent */
@font-face {
    font-family: football;
    src: url(./fonts/FootballIsComingHome-mLXAv.ttf);
}

#navigation{    
    margin-right: 2%;
}

#incioBanner{
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
}

#inicioBod{
    display: flex;
    margin-top: 5%;
    margin-right: 15%;
    /* align-items: center; */
}


#logo img{
    width: 7em;
}

#a{
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

#a ul li{
    display: inline;
    padding: 0.5em;
    font-size: 18px;
}

#a ul li a{
   color: rgb(151, 30, 30);   
}

#pres{
 font-family: Poppins, sans-serif;
  margin-top: 10%;
  text-align: right;
  font-size: 80px;  
  color: #780808;   
  padding-left: 20%;
 }

#pres #o:hover{
    margin-top: -10%;
    padding-left: -10%;

}
#o {           
  cursor: pointer;
  display: inline-block;
  user-select: none;  
}

#o:hover{
    color: black;
    font-family: football;
    font-size: 1.5em;
    animation: shrinkjump 3s ease-in;
    transform-origin: bottom center;
}

@keyframes shrinkjump {
    10%, 35% {    
	transform: rotate(40deg);}

	45%, 50% {
		transform: scale(1) translate(0, -100px);
	}
	
	80% {
		transform: scale(0) translate(0, 0);
	}
}

/* #mascot{
padding-left: 1%;
} */
#mascot img{
    width: 350px;    
}

/* Estilos header */
.navbar-brand img{
    width: 300em;
}

h1{
     font-family: Poppins, sans-serif;
     padding-left: 5%;
}

h2{
     padding-left: 5%;
}
ul{
    list-style: none;
}

img{
    width: 5em;
}

.col-sm-6{
    white-space: nowrap;
    font-family: Poppins, sans-serif;
    margin-bottom: 5%;
}
.col-sm-6 input{
    text-align: center;
}

.col-sm-6 img{
    width: 2em;
    margin-left: 10%;
    margin-right: 10%;
}

.col-sm-6 li {
    display: flex;
    justify-content: space-between;
    align-items: center; 

}

.col-sm-6 input{
    width: 3em;
}

/* Estilos home */
.containerhome{
    width: 97%;
    color: #780808;
}



/* Estilos de las tablas */

.posiciones{
    margin-left: 5%;
    font-family: Poppins, sans-serif;
    width: 129px;
}

.posiciones tr{
    border: 0.05em solid; 
    text-align: center;   
}
.posiciones input{
    width: 3em;
    border: none;
    text-align: right;
}

.posiciones input:focus{
    outline: none;
}

.posiciones td{
    width: 32.925px;
    border: 0.05em solid;
}

.inputs{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.inputs input{
    max-width: 50px;
    max-height: 25px;
    
}

.winner{
    max-width: 150px;
    max-height: 80px;
    border: 2px solid #780808;
}

.th-header{
    background-color: #780808;
    color: white;
}
td{
    color: #780808;
}


.btn-next{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}


.def{
    justify-content: center;
    text-align: center;
    
}

.row{
    font-family: Poppins, sans-serif;

}


/* Estilos formularios */
.form-contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px;
    padding-top: 120px;
}


.form-control{
    width: 450px;
    border-bottom: 2px solid #c4c4c4;
    outline: none;
    margin-bottom:30px;
    /* padding: 7px 8px 3px 5px; */
  
}

