<app-header></app-header>
<h2>{{title}}</h2>
<div class="row">
    <div class="col-12 col-md-12 ">
        <div class="octavos-container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="th-header">#</th>
                        <th scope="col" class="th-header">Fechas</th>
                        <th scope="col" class="th-header">Horas</th>
                        <th scope="col" class="th-header">Partidos</th>
                        <th scope="col" class="th-header">Estadios</th>
                        <th scope="col" class="th-header">Ganadores</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">61</th>
                        <td>13-dic</td>
                        <td>22:00</td>
                        <td class="partidos">
                            <div class="inputs">
                                <input type="text"> -
                                <input type="text">
                            </div>
                        </td>
                        <td>Lusail</td>
                        <td>
                            <input type="text" class="winner">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">62</th>
                        <td>14-dic</td>
                        <td>22:00</td>
                        <td class="partidos">
                            <div class="inputs">
                                <input type="text"> -
                                <input type="text">
                            </div>

                        </td>
                        <td>All Bayt</td>
                        <td>
                            <input type="text" class="winner">
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="btn-next">
            <button class="btn btn-success" routerLink="/definicion">Ir a definición</button>
        </div>

    </div>

</div>